@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


@theme{
    --font-rubik: "Rubik", sans-serif;
    --color-blue-600: hsl(231, 69%, 60%);
    --color-red-400: hsl(0, 94%, 66%);
    --color-grey-50: hsl(0, 0%, 97%);
    --color-grey-600:hsl(228,12%,41%);
    --color-blue-950: hsl(229, 31%, 21%);
}




/* after:h-0 
after:w-[60%] 
after:border-2 
after:border-red-400 
after:block 
after:left-[20%] 
after:absolute  after:top-9 */